@media screen and (max-width: 1600px){
    .title1 a{
        right: 50px;
    }
}
@media screen and (max-width: 1200px){
    .title1 a{
        right: 70px;
    }
}
@media screen and (max-width: 800px){
    .hide-800{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .hide-600{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .hide-500{
        display: none;
    }
    #history{
        height: 300px;
    }
    .fav img{
        height: 100px;
        width: 100px;
        border-radius: 10px;
        transition:  border-radius 0.3s ease-in-out;
        object-fit: cover;
    }
}