@media screen and (max-width: 1600px){
    .title1 a{
        right: 50px;
    }
}
@media screen and (max-width: 1200px){
    .title1 a{
        right: 70px;
    }
}
@media screen and (max-width: 800px){
    .hide-800{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .hide-600{
        display: none;
    }
    .slider{
        height: 40%;
    }
    .main-content{
        height: 600px;
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    body{
        width: 105%;
    }
    .hide-500{
        display: none;
    }
    #sideNav{
        display: none;
        width: 100%;
    }
    #main{
        margin: 0;
    }
    .navContent{
        margin: 0;
        width: 100%;
    }
    #history{
        height: 300px;
    }
    .fav {
        height: 150px;
        width: 130px;
    }
    .favoriteItems{
        height: 290px;
    }
    .fav img{
        height: 100px;
        width: 100px;
        border-radius: 10px;
        transition:  border-radius 0.3s ease-in-out;
        object-fit: cover;
    }
    .artistItem img{
        height: 100px;
        width: 100px;
    }
    .artistItem{
        height: 150px;
    }
    .main-content section{
        height: 210px;
    }
    .search input::placeholder{
        color: transparent;
    }

    .slider{
        height: 35%;
    }
    .main-content{
        height: 650px;
        width: 100%;
    }
}